@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    border: rgba(0, 0, 0)
}

header::before {
    content: "";
    background-image: url(/assets/2ioO6.png);
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header a {
    color: #fff;
    text-decoration: none; 
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.navigation-bar a {
    color: #fff;
    text-decoration: none;
}

.navigation-bar a:hover {
    color: #ABB8CF;
}

h1 {
    font-size: 2em;
    margin: 10px;
}

.home-container h1 {
    text-align: center;
}

.home-container {
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#aboutme-pic {
    width: 40%;
    height: 40%;
    margin: 0 auto;
    display: block;
    border-radius: 80%;
    background-size: cover;
}